﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="help-block"></div>
    @Html.ActionLink("Ultimatix", "Ultimatix", "Application", null, new { @class = "btn btn-primary btn-lg" })
</div>
@*<div class="row text-center">
        <div class="help-block"></div>
        @Html.ActionLink("Manage", "Index", "Manage", null, new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="row text-center">
        <div class="help-block"></div>
        @Html.ActionLink("RolesAdmin", "Index", "RolesAdmin", null, new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="row text-center">
        <div class="help-block"></div>
        @Html.ActionLink("UsersAdmin", "Index", "UsersAdmin", null, new { @class = "btn btn-primary btn-lg" })
    </div>*@